* { box-sizing: border-box; }
header, nav, main, footer {
    display: block; 
}
body {
    background-image: url("images/c21.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: 100%;
    color: #B11181 ; 
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-image: url("images/clouds.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
}
h1 { 
    text-align: center;
    padding-top:50px;  
}
h2 {text-align: center;
    padding-top: 1em;}
nav { 
    font-weight: bold;
    margin-top: 2em;
    padding: 2em;
    float: left;
    width: 190px;
}
nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: 3px;
    color:#8E15CF; border: 3px #CC9DE5  inset;
    padding: 1em;
    margin-bottom: 1em;
}
nav a:link { color: #8E15CF; }
nav a:visited { color: #F948B9; }
nav a:hover { color:#10C0C8; border: 3px #CC9DE5  inset;}
nav ul{
    list-style-type: none; margin: 0; padding: 0;
}

#login { padding-left: 23em;
          }

.studio { 
    font-style: italic;
}
footer { 
    background-image: url("images/clouds.png");
    font-size: .60em;
    text-align: center;
    font-style: italic;
    margin-top: 45em;
    padding: 1em;
}
#wrapper { 
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    min-width:1200px;
    max-width:1480px;
}
main{
    padding-left:2em;
    padding-right:2em;
    display:block;
    margin-left: 170px;
    padding-top: 1em;
    height: 300px;
}
.floatleft{
    float: left;
    margin-top: 2em;
    margin-right: 2em;
    image-rendering: optimizeSpeed;
    border: 3px;
    color:#8E15CF; border: 3px #CC9DE5  inset;
}
.floatright{
    float: right;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    image-rendering: optimizeSpeed;
    border: 3px;
    color:#8E15CF; border: 3px #CC9DE5  inset;
}
.clear{
    clear: both;
}
audio{
    display: block;
    margin: 1em;
}
article {
   margin-top: 2.9em;
   width: 990px;
   height: 350px;
   background: none;
   font-size: 14px;
}
input {
    float: left;
}
form { float: left; }

label {
   float: left;
   font-size: 1em;
}
#submit { 
        margin-top: 4em;
        margin-left: 44em; }
form {
  border: none;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #CC9DE5;
  color: white;
  padding: 14px 20px;
  margin: 10px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}
#login { margin-left: 3em; }
.cancelbtn {
  width: auto;
  padding: 10px 10px;
  background-color: #f44336;
  float: left;
  margin-top: 1em;
}
.container {
  padding: 10px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
#easy {  }
#easy h2{ text-decoration: underline;
          float: none;
       }
#easy p {float: right;}
.step{ float: left; }

#rcvdMsg { box-sizing: content-box;
           border: double skyblue 10px;
           text-align: center;
           color: black;
           font-weight: bold;
           font-size: 30px;
           width: 80%;
            }
#myEmail { 
           padding-top: 1em;
           }
#myQuestions { padding: 2em;
               padding-top: 1em;
               margin-top: 4em;
               
             }
#mySubmit { margin-top: 15em;
            float: left;
            }
.web { font-style: italic;
       font-weight: bold; }
#browser { margin-top: 6em;
           font-size: 12px;
           color: black;
         }
/* MOBILE SETTINGS
TRIAL No2*/
@media screen and (max-width: 300px) {
  form { height: auto; }
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
    }
}

#mobile{ display: none; }
#desktop{ display: inline; }
@media only screen and (max-width:1024px){
    body {

        margin: 0;
        padding: 0;
    }
    #wrapper{
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
    }
    header{
        padding-top: 1px;
    }
    h1{
        padding-top: 1em;
    }
    nav{
        float: none;
        width: auto;
        padding-left: 2em;
    }
    nav a{
        padding: 0.2em;
        margin-left: 0.3em;
        float: left;
        width: 23%;
    }
    main{
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 50%;
        clear: both;
    }
    #hero{
        width: 100%;
        height: auto;
    }
    h2, h3, p, dl{
        padding-left: 2em;
        padding-right: 2em;
    }

    main ul{
        margin-left: 2em;
    }
    .floatleft{
        float: left;
        margin-top: 2em;
        margin-right: 2em;
        margin-left: 5em;
    }
    .floatright{
        float: right;
        margin-top: 2em;
        margin-right: 2em;
    }
    .clear{
        padding-left: 2em;
    }

}

@media only all and (max-width: 768px){
    h1{
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
        text-align: center;
    }
    h2{ 
        font-size: 2em; }
    nav a{
        padding: 0.5em;
        width: 45%;
        float: left;
        min-width: 6em;
        margin-left: 0.5em;
    }
    main{
        padding: 0;
    }
    .floatleft{ 
        display: none;
    }
    #hero{
        width: 50%;
        height: auto;
            }
article {
   margin-top: 2.9em;
   width: 425px;
   height: 250px;
   background: none;
   font-size: 8px;
}

form {
   margin-top: 2em;
}
input {
    float: left;
}
form { 
    float: left; }

label {
   float: left;
   font-size: 1em;
}
#submit {  
          margin-left: 14em;}

    footer{
        padding: 0.5em;
        margin: 0;
    }
 
table{
    margin: auto;
    width: 60%;
    border: 1px solid #3F2860;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th{
    padding: 5px;
    border: 1px solid #3F2860;
}
tr:nth-of-type(even){
    background-color: #9BC1C2;
}
caption{
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
label{
    float: left;
    display: block;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;   
}
input, textarea{
    display: block;
    margin-bottom: 2em;
}
#mySubmit{ 
    margin-left: 12em;
 }
form{
    padding: 3em;
 }






